body {
  min-height: 2000px;
  padding-top: 80px;
}

.font11{
	font-size: 11px;
	text-transform: uppercase;
}

.margin{
	margin-top: -9px !important;
}

.position{
	margin-top: -7px;
	float: right;
}
.parent{
	float: right;
	padding-right: 10px;
}
@media (max-width: 660px) {

	span.fact{
	display: none;
	}

	strong.parent{
		float: left;
	}
}

.table-sortable tbody tr {
    cursor: move;
}

.padding {
	padding-right: 30px; 
	padding-bottom: 30px;
}

span.font{
    font-size: 14px;
}

tr.font-tr{
    font-size: 12px;
}

a.btn.btn-success.pull-right {
  margin-top: -10px;
}

button.botonExcel.btn.btn-success.btn-sm.pull-right {
  margin-top: -25px;
}

button.mgn.btn.btn-success.btn-sm.pull-right {
  margin-top: -25px;
}

.bg-total-titular{
    background: #D0C2C2;
}
.bg-total-farmacia{
    background: #999;
}

img.logo-farma{
 margin-top: -8px !important;
}

li.item-nav{
	font-weight: bold;
}
li.item-nav:hover{
	background: silver;
	transition: 0.5s;
}